/* body{
    position: relative;
} */

 img{
      position:relative;    
    left: 150px; 
    /* top: 150px; */
    width: 600px; 
    height: 600px; 
    /* padding-bottom: 500px;*/
    /* margin:auto; */
}  

  /* .carousel-item{

background-color:#795757; 
/* position: relative; */
/* background-size: cover; */
/* width: 1500px; */
/* justify-content: space-between;  */
/* margin:auto; 

}   */

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: italic;
    color: #3B3030
  }

.carousel-inner{
    /* margin:auto; */
    padding-bottom: 50px;
    justify-content: space-between;
}
/* .background-box{
    position: relative;
    background-color: #795757; /* Change color and opacity as needed 
    width: 100%; /* Full width 
    height: 100%; /* Full height 
    border-radius: 10px; /* Optional: rounded corners 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow effect 
    z-index: 0;
} */

/* shop-btn{
    text-align: center; /* Center the button 
    margin-top: 20px;
    padding-right: 20px;
    /* color: #3B3030 
    color: white;
} */
.shop-btn{
    font-family:'Georgia', serif; 
    background-color: #3B3030;
    border: white;
    color: white;
    border-radius: 0px;
    font-size: 20px;
    
}
 .shop-btn:hover {
    /* background-color: #3B3030;   */
    background-color:#795757;
 }

#btn-container{
     margin: auto;
     width: 170px;
    padding-top:50px;
    
   
}
.mission{
    font-family: 'Georgia', serif; 
    padding-top: 150px;
    padding-bottom: 150px;
    /* background-color:#795757;
    border-radius: 5px; */
}
/* .Our-Purpose{
    background-color:#795757;
} */

.carousel-inner{
    /* margin:auto; */
    padding-bottom: 50px;
    justify-content: space-between;
}


.quotes{
    text-align: left;
    /* background-color:#795757; */
    margin-left: 650px;
    border-color: white;
    border-radius: 5px;
    font-size:28px;
    color:#3B3030 ;
    /* padding-bottom:500px; */
}
.customer-carousel{
  padding-bottom:50px;
   font-family: 'Georgia', serif;
   font-size:5px;
   font-style:italic;
   font-weight:bold;
   /* color:#3B3030; */
}

.testimony{

    font-size: 20px;
    

}


/* .footer{
    padding-top: 500px;

} */